/* updateCard.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.card-preview img {
    display: block;
    max-width: 100%;
    margin: auto;
    border-radius: 10px;
}

.update-card-form {
    margin-top: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.github-settings h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.checkbox-group {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.checkbox-group input {
    margin-right: 10px;
}

.submit-button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}

/* 네비게이션 바 스타일 조정 */
.nav-bar {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.nav-item {
    text-align: center;
}

.nav-item a {
    text-decoration: none;
    color: inherit;
}

.nav-item img {
    max-width: 24px;
    margin-bottom: 5px;
}

.nav-item p {
    margin: 0;
    font-size: 12px;
}
