<div th:fragment="navBar">
    <div class="nav-bar">
        <div class="nav-item" data-page="home">
            <img th:src="@{/images/mycard-icon.png}" alt="My Card">
            <p>MyCard</p>
        </div>
        <div class="nav-item" data-page="wallet">
            <img th:src="@{/images/wallet-icon.png}" alt="Wallet">
            <p>Wallet</p>
        </div>
        <div class="nav-item" data-page="chats">
            <img th:src="@{/images/chat-icon.png}" alt="Chat">
            <p>Chats</p>
        </div>
        <div class="nav-item" data-page="mypage">
            <img th:src="@{/images/mypage-icon.png}" alt="My Page">
            <p>MyPage</p>
        </div>
    </div>
</div>
