<div th:fragment="navBar">
    <div class="nav-bar">
        <div class="nav-item" data-page="home">
            <a th:href="@{/home}">
                <img th:src="@{/images/card.svg}" alt="My Card">
                <p>MyCard</p>
            </a>
        </div>
        <div class="nav-item" data-page="wallet">
            <a th:href="@{/wallet-list}">
                <img th:src="@{/images/wallet.svg}" alt="Wallet">
                <p>Wallet</p>
            </a>
        </div>
        <div class="nav-item" data-page="chats">
            <a th:href="@{/chats}">
                <img th:src="@{/images/chat.svg}" alt="Chat">
                <p>Chats</p>
            </a>
        </div>
        <div class="nav-item" data-page="mypage">
            <a th:href="@{/mypage}">
                <img th:src="@{/images/person.svg}" alt="My Page">
                <p>MyPage</p>
            </a>
        </div>
    </div>
</div>
