<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet List</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/card/wallet-list.css}">
</head>
<body>

<div class="container">
    <!-- 상단 헤더 -->
    <div class="header">
        <h2 class="title">Wallet</h2>
    </div>

    <!-- 그룹 추가 버튼 -->
    <div class="group-add">
        <button class="add-button" onclick="createNewGroup()">
            <span class="plus-icon">+</span>
        </button>
    </div>

    <!-- 그룹 리스트 -->
    <div class="group-list">
        <div class="group-item" th:each="group : ${groups}"
            th:onclick="'redirectToGroup('+${group.id} + ')'"
            style="cursor: pointer;">
            <div class="icon">
                <svg class="wallet-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M10.75 9a.75.75 0 0 0 0 1.5h1.5a.75.75 0 0 0 0-1.5h-1.5Z"></path><path d="M0 3.75C0 2.784.784 2 1.75 2h12.5c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0 1 14.25 14H1.75A1.75 1.75 0 0 1 0 12.25ZM14.5 6.5h-13v5.75c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25Zm0-2.75a.25.25 0 0 0-.25-.25H1.75a.25.25 0 0 0-.25.25V5h13Z"></path></svg>
            </div>
            <span class="group-name" th:text="${group.name}">Group name</span>
            <span class="group-count" th:text="${group.count}">0</span>
        </div>
    </div>

</div>

<!-- NavBar 포함 -->
<div th:replace="~{/nav-bar :: navBar}"></div>

<script th:src="@{/script.js}"></script>
<script th:src="@{/js/wallet/wallet-list.js}"></script>

</body>
</html>
