/* 상단 헤더 */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0 0.5rem 0;
  font-size: 0.8rem;
}

/* 검색 영역 */
.search-container {
  width: 90%;
  margin: 0 auto 1rem;
  border-radius: 1.2rem;
  padding: 0.5rem;
  display: flex;
  justify-content: left;
  background: rgba(0, 0, 0, 0.02);
}

.search-container label {
  margin-left: 0.5rem;
  color: var(--pantone-877c);
}

.search-container input {
  width: 100%;
  font-size: 1rem;
  border: none;
  background: transparent;
  margin-left: 1rem;
}

.search-container input:focus {
  outline: none;
}

.highlight {
  background-color: var(--cnu-yellow);
}

