/* 채팅 목록 */
.chat-list {
  flex: 1;
  overflow-y: auto;
}

.chat-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--pantone-877c);
}

.chat-image {
  margin-right: 1rem;
}

.chat-image img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.chat-info {
  flex: 1;
}

.chat-name {
  display: block;
  font-weight: bold;
  font-size: 1rem;
  color: var(--pantone-blackc);
}

.chat-message {
  display: -webkit-box; /* 플렉스 컨테이너처럼 동작 */
  color: var(--pantone-blackc);
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical; /* 세로 방향으로 박스를 설정 */
  -webkit-line-clamp: 2; /* 최대 두 줄까지 표시 */
}

.chat-time {
  color: var(--pantone-877c);
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.notification-badge {
  background-color: var(--cnu-sky-blue);
  color: white;
  border-radius: 12px;
  padding: 4px 8px;
  font-size: 12px;
}
